<form class="list">
  <ion-list>
    <label class="item item-input">
      <span class="input-label">Name</span>

      <input type = "text" ng-model = "dataPopup.name">
    </label>
    <label class = "item item-input item-select">
      <div class = "input-label">
        Programme
      </div>

      <select id="selectPopUp">
        <option ng-repeat="programme in programmes">{{programme.name}}</option>

      </select>
    </label>

    <label class="item item-input">
      <span class="input-label">Date</span>
      <button item-right class = "button" class="item" ion-datetime-picker ng-model="dataPopup.datetimeValue">
        <i class="icon ion-ios-calendar-outline positive"></i>
      </button>
      {{dataPopup.datetimeValue| date: "yyyy-MM-dd H:mm:ss"}}
    </label>

  </ion-list>
</form>
